<%- include ('./storeListingHeader.ejs') %>




<style>



.circle {
    width: 10px;
    height: 10px;
    background-color: #62bd19;
    border-radius: 50%;
  
}



.circle1 {
    width: 10px;
    height: 10px;
    background-color: #bd1919;
    border-radius: 50%;
  
}




</style>


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="breadcrumb-range-picker">
                        <span><i class="icon-calender"></i></span>
                        <span class="ml-1">August 08, 2017 - August 08, 2017</span>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Components</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-between mb-3">
					<div class="col-12 ">
						<h2 class="page-heading">Hi,Welcome Back!</h2>
						<p class="mb-0">Your restaurent admin template</p>
					</div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-xxl-6">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="easy-pie-chart pie-chart-4" data-percent="<%=result[3][0].total_orders%>" data-size="100">
                                            <div class="inner">
                                                <h5><b><%=result[2][0].total_orders%></b><small class="d-block">Orders</small></h5>
                                            </div>
                                        </div>
                                        <h5 class="mt-3">Total Orders</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-xxl-6">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="easy-pie-chart pie-chart-4" data-percent="<%=result[3][0].running_orders%>" data-size="100">
                                            <div class="inner">
                                                <h5><b><%=result[3][0].running_orders%></b><small class="d-block">Orders</small></h5>
                                            </div>
                                        </div>
                                        <h5 class="mt-3">Running Orders</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-xxl-6">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="easy-pie-chart pie-chart-4" data-percent="<%=result[4][0].completed_orders%>" data-size="100">
                                            <div class="inner">
                                                <h5><b><%=result[4][0].completed_orders%></b> <small class="d-block">Orders</small></h5>
                                            </div>
                                        </div>
                                        <h5 class="mt-3">Total Delivered</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-xxl-6">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="easy-pie-chart pie-chart-4" data-percent="<%=result[1][0].total_price%>" data-size="100">
                                            <div class="inner">
                                                <h5><b><%=result[1][0].total_price%></b><small class="d-block">Earning</small></h5>
                                            </div>
                                        </div>
                                        <h5 class="mt-3">Total Revenue</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-xxl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center mb-4">
                                   
                                    <div class="media-body">
                                        <h5 class="mb-0"><%=result[0][0].name%> </h5>
                                        <p class="text-muted mb-0"><%=result[0][0].business_name%>
                                            </p>
                                    </div>
                                 
                                      <% if(result[0][0].status =='approved') { %>
                                           
                                        <div class="circle"></div>


                                        <% } else { %>
                                            <div class="circle1"></div>


                                            <% } %>
                                     
                                </div>

                                <h4>Address</h4>
                                <p class="text-muted"><%=result[0][0].address%></p>
                                <ul class="card-profile__info">
                                    <li class="mb-1"><strong class="text-dark mr-4">Mobile</strong> <span><%=result[0][0].number%></span></li>
                                    <li><strong class="text-dark mr-4">Category</strong> <span><%=result[0][0].categoryname%></span></li>
                                   
                                </ul>

                                <ul class="card-profile__info">
                                    <li><strong class="text-dark mr-4">Channel Partner</strong> <span><%=result[0][0].cp_name%> (<%=result[0][0].cp_number%>)</span></li><br/>
                                    <li><strong class="text-dark mr-4">Agent</strong> <span><%=result[0][0].agentname%> (<%=result[0][0].agentnumber%>)</span></li>
                                     
                                </ul>
                            </div>
                          
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-xxl-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Kyc Details (<%=result[0][0].status%>)</h4>
                                <div id="activity" class="py-2">
                                    <div class="media-body" style="margin-top:20px;">
                                        <h5 style="color:#1f5ab0;"> PAN Card </h5>
                                   
                                    </div>
                                    <div class="media border-bottom py-3">
                                        <img width="45" src="http://dealsaaj.com/images/<%=result[0][0].personal_kyc_img%>" alt="avatar" class="mr-3">
                                        <img width="45" src="http://dealsaaj.com/images/<%=result[0][0].aadhar_back%>" alt="avatar" class="mr-3">
                                        
                                       
                                    </div>



                                    <div class="media-body" style="margin-top:20px;">

                                        <h5 style="color:#1f5ab0;">Aadhar Card </h5>
                                   
                                    </div>
                                    <div class="media border-bottom py-3">
                                        <img width="45" src="http://dealsaaj.com/images/<%=result[0][0].image%>" alt="avatar" class="mr-3">
                                        <img width="45" src="http://dealsaaj.com/images/<%=result[0][0].shop_img2%>" alt="avatar" class="mr-3">
                                        
                                       
                                    </div>


                                    <% if(result[0][0].status == 'approved') { %>
                                   
                                 


                             <% } else { %>

                                <div class="media py-3">
                                    <button type="button" class='btn btn-success change_status' name="approved"  id="<%=result[0][0].id%>">Approved</button>
                                    <div class="media-body">
                                      
                                        <button type="button" class='btn btn-warning change_status' name="rejected" id="<%=result[0][0].id%>" style="margin-left: 20px;">Reject</button>
                                        
                                    </div>
                                </div>


                                <% } %>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-xxl-6">
                        <div class="card">
                            <div class="card-body">
                                    <h4 class="card-title">Delivery Orders</h4>
                                    <h4 class="card-title float-right">
                                        <a href="/admin/dashboard/view/all/order/<%=vendorid%>">
                                        <button type="button" class="btn btn-primary">View All Orders</button>
                                        </a>
                                        <a href="/admin/dashboard/view/all/payout/<%=vendorid%>">
                                            <button type="button" class="btn btn-warning">Payout History</button>
                                            </a>
                                     </h4>

                                <div class="table-responsive">
                                    <table class="table mb-0 table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Status</th>
                                                <th>Address</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>

<% for(i=0;i<result[5].length;i++){ %>
    <tr>
        <th><%=result[5][i].productname%></th>
        <td><%=result[5][i].price%></td>
        <% if(result[5][i].status == 'delivered') { %>
            <td><span class="badge badge-success text-capitalize"><%=result[5][i].status%></span>

            <% } else { %>

                <td><span class="badge badge-warning text-capitalize"><%=result[5][i].status%></span>

                <% } %>
        </td>
        <td class="text-capitalize"><%=result[5][i].status%></td>
        <td class="color-primary">
            <a href="/admin/dashboard/product/full/details/<%=result[5][i].id%>">
            <button type="button" class="btn btn-primary">View Details</button>
        </a>
        </td>
    </tr>
<% } %>

                                            
                                         
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p><a href="templatespoint.net"></a></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        
        <!--**********************************
            Right sidebar start
        ***********************************-->
        <div class="sidebar-right">
            <a class="sidebar-right-trigger gradient-5-x" href="javascript:void(0)">
                <span><i class="fa fa-cog fa-spin"></i></span>
            </a>
            <div class="sidebar-right-inner">
                <div class="admin-settings">
                    <h4>Pick your style</h4>
                    <div>
                        <p>Background</p>
                        <select class="form-control" name="theme_version" id="theme_version">
                            <option value="light">Light</option>
                            <option value="dark">Dark</option>
                        </select>
                    </div>
                    <div>
                        <p>Layout</p>
                        <select class="form-control" name="theme_layout" id="theme_layout">
                            <option value="vertical">Vertical</option>
                            <option value="horizontal">Horizontal</option>
                        </select>
                    </div>
                    <div>
                        <p>Sidebar</p>
                        <select class="form-control" name="sidebar_style" id="sidebar_style">
                            <option value="full">Full</option>
                            <option value="mini">Mini</option>
                            <option value="compact">Compact</option>
                            <option value="overlay">Overlay</option>
                        </select>
                    </div>
                    <div>
                        <p>Sidebar position</p>
                        <select class="form-control" name="sidebar_position" id="sidebar_position">
                            <option value="static">Static</option>
                            <option value="fixed">Fixed</option>
                        </select>
                    </div>
                    <div>
                        <p>Header position</p>
                        <select class="form-control" name="header_position" id="header_position">
                            <option value="static">Static</option>
                            <option value="fixed">Fixed</option>
                        </select>
                    </div>
                    <div>
                        <p>Container</p>
                        <select class="form-control" name="container_layout" id="container_layout">
                            <option value="wide">Wide</option>
                            <option value="boxed">Boxed</option>
                            <option value="wide-boxed">Wide Boxed</option>
                        </select>
                    </div>
                    <div>
                        <p>Direction</p>
                        <select class="form-control" name="theme_direction" id="theme_direction">
                            <option value="ltr">LTR</option>
                            <option value="rtl">RTL</option>
                        </select>
                    </div>
                    <div>
                        <p>Navigation Header</p>
                        <div>
                            <span>
                                <input type="radio" name="navigation_header" value="color_1" class="filled-in chk-col-primary" id="nav_header_bg_1">
                                <label for="nav_header_bg_1"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_2" class="filled-in chk-col-primary" id="nav_header_bg_2">
                                <label for="nav_header_bg_2"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_3" class="filled-in chk-col-primary" id="nav_header_bg_3">
                                <label for="nav_header_bg_3"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_4" class="filled-in chk-col-primary" id="nav_header_bg_4">
                                <label for="nav_header_bg_4"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_5" class="filled-in chk-col-primary" id="nav_header_bg_5">
                                <label for="nav_header_bg_5"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_6" class="filled-in chk-col-primary" id="nav_header_bg_6">
                                <label for="nav_header_bg_6"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_7" class="filled-in chk-col-primary" id="nav_header_bg_7">
                                <label for="nav_header_bg_7"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_8" class="filled-in chk-col-primary" id="nav_header_bg_8">
                                <label for="nav_header_bg_8"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_9" class="filled-in chk-col-primary" id="nav_header_bg_9">
                                <label for="nav_header_bg_9"></label>
                            </span>
                            <span>
                                <input type="radio" name="navigation_header" value="color_10" class="filled-in chk-col-primary" id="nav_header_bg_10">
                                <label for="nav_header_bg_10"></label>
                            </span>
                        </div>
                    </div>
                    <div>
                        <p>Header</p>
                        <div>
                            <span>
                                <input type="radio" name="header_bg" value="color_1" class="filled-in chk-col-primary" id="header_bg_1">
                                <label for="header_bg_1"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_2" class="filled-in chk-col-primary" id="header_bg_2">
                                <label for="header_bg_2"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_3" class="filled-in chk-col-primary" id="header_bg_3">
                                <label for="header_bg_3"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_4" class="filled-in chk-col-primary" id="header_bg_4">
                                <label for="header_bg_4"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_5" class="filled-in chk-col-primary" id="header_bg_5">
                                <label for="header_bg_5"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_6" class="filled-in chk-col-primary" id="header_bg_6">
                                <label for="header_bg_6"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_7" class="filled-in chk-col-primary" id="header_bg_7">
                                <label for="header_bg_7"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_8" class="filled-in chk-col-primary" id="header_bg_8">
                                <label for="header_bg_8"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_9" class="filled-in chk-col-primary" id="header_bg_9">
                                <label for="header_bg_9"></label>
                            </span>
                            <span>
                                <input type="radio" name="header_bg" value="color_10" class="filled-in chk-col-primary" id="header_bg_10">
                                <label for="header_bg_10"></label>
                            </span>
                        </div>
                    </div>
                    <div>
                        <p>Sidebar</p>
                        <div>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_1" class="filled-in chk-col-primary" id="sidebar_bg_1">
                                <label for="sidebar_bg_1"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_2" class="filled-in chk-col-primary" id="sidebar_bg_2">
                                <label for="sidebar_bg_2"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_3" class="filled-in chk-col-primary" id="sidebar_bg_3">
                                <label for="sidebar_bg_3"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_4" class="filled-in chk-col-primary" id="sidebar_bg_4">
                                <label for="sidebar_bg_4"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_5" class="filled-in chk-col-primary" id="sidebar_bg_5">
                                <label for="sidebar_bg_5"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_6" class="filled-in chk-col-primary" id="sidebar_bg_6">
                                <label for="sidebar_bg_6"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_7" class="filled-in chk-col-primary" id="sidebar_bg_7">
                                <label for="sidebar_bg_7"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_8" class="filled-in chk-col-primary" id="sidebar_bg_8">
                                <label for="sidebar_bg_8"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_9" class="filled-in chk-col-primary" id="sidebar_bg_9">
                                <label for="sidebar_bg_9"></label>
                            </span>
                            <span>
                                <input type="radio" name="sidebar_bg" value="color_10" class="filled-in chk-col-primary" id="sidebar_bg_10">
                                <label for="sidebar_bg_10"></label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Right sidebar end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/Admin/./assets/plugins/common/common.min.js"></script>
    <script src="/Admin/main/./js/custom.min.js"></script>
    <script src="/Admin/main/./js/settings.js"></script>
    <script src="/Admin/main/./js/quixnav.js"></script>
    <script src="/Admin/main/./js/styleSwitcher.js"></script>


    <!-- Easy pie chart -->
    <script src="/Admin/./assets/plugins/easy-pie-chart/jquery.easypiechart.min.js"></script>


    <!-- Init file -->
    <script src="/Admin/main/./js/dashboard/dashboard-3.js"></script>

    


<script>

$('.change_status').click(function(){
    let status = $(this).attr('name');
    let id = $(this).attr('id')
   
$.post('/admin/dashboard/vendor/update-status',{id,status},(req,res)=>{
    location.reload();
})

})

</script>


</body>

</html>