<%- include ('./header.ejs') %>

        <div class="breadcrumbs">
            <div class="wrap">
                <div class="wrap_float">
                    <a href="#">Home</a>
                    <span class="separator">/</span>
                    <a href="#"><%=name.replace('-' , ' ')%></a>
                </div>
            </div>
        </div>
        <div class="page default travel-list full-width">
            <div class="page_head">
                <div class="wrap_float">
                    <div class="wrap">
                        <div class="wrap_float">
                            <h1 class="title">
                                Travel list Of <%=name.replace('-' , ' ')%>
                            </h1>
                            <!-- <p class="subtitle">
                                Latin literature from 45 BC, making it over 2000 years old
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-tour">
<form class="search-form" method="get" action="/country">
                
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="search-form">
                            <div class="destination-col">
                                <div class="label">Destination</div>
                                <div class="select_wrap">
                                    <select name="search">
                                      <% for(i=0;i<result[0].length;i++){ %>
                                        <option value="<%=result[0][i].id%>"><%=result[0][i].name%></option>
                                      <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="date-col">
                                <div class="label">Check In</div>
                                <div class="date_div">
                                    <input type="text" class="js_calendar desctop-input">
                                    <input type="date" class="mobile-input">
                                    <div class="day">21</div>
                                    <div class="date_div_right">
                                        <div class="month">December</div>
                                        <div class="year">2019</div>
                                    </div>
                                </div>
                            </div>
                            <div class="date-col">
                                <div class="label">Check Out</div>
                                <div class="date_div">
                                    <input type="text" class="js_calendar desctop-input">
                                    <input type="date" class="mobile-input">
                                    <div class="day">21</div>
                                    <div class="date_div_right">
                                        <div class="month">December</div>
                                        <div class="year">2019</div>
                                    </div>
                                </div>
                            </div>
                            <div class="num-col">
                                <div class="label">Aduld</div>
                                <div class="num_wrap">
                                    <div class="buttons">
                                        <button class="plus"></button>
                                        <button class="minus"></button>
                                    </div>
                                    <input type="number" class="val js_num" value="3" min="0" max="99">
                                </div>
                            </div>
                            <div class="num-col last">
                                <div class="label">Children</div>
                                <div class="num_wrap">
                                    <div class="buttons">
                                        <button class="plus"></button>
                                        <button class="minus"></button>
                                    </div>
                                    <input type="number" class="val js_num" value="3" min="0" max="99">
                                </div>
                            </div>
                            <button class="btn button"><span>Search</span></button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="page_body">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="posts">

<% for(i=0;i<result[1].length;i++){ %>

                            <a href="/tours/<%=result[1][i].name.replace(/[ ,]+/g, "-")%>?id=<%=result[1][i].id%>" class="tour_item" style="background-image: url(/images/<%=result[1][i].logo%>)">
                                <div class="tour_item_top">
                                    <p class="country">
                                        <span><%=result[1][i].statename%></span>
                                    </p>
                                    <div class="add_bookmark fav-button">
                                        <i class="is-added bouncy"></i>
                                        <i class="not-added bouncy"></i>
                                        <span class="fav-overlay"></span>
                                    </div>
                                </div>
                                <div class="tour_item_bottom">
                                    <h3 class="_title"><%=result[1][i].name%></h3>
                                    <div class="_info">
                                        <div class="_info_left">
                                            <div class="days"><%=result[1][i].tour_days%> days </div>
                                            
                                        </div>
                                        <div class="_info_right">
                                            <div class="rating-stars">
                                                <div class="star filled"></div>
                                                <div class="star filled"></div>
                                                <div class="star filled"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                            </div>
                                            <p class="rating-text">10 reviews</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="shadow js-shadow"></div>
                            </a>

                          <% } %>

                           

                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
      
       
        <%- include ('./footer.ejs') %>
