<%- include ('./adminheader.ejs') %>


<!--InsertDiv-->


  <div class="container-fluid mt--7">
      <div id="insertdiv">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-default shadow">
            <div class="card-header bg-default border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0" style="color:white">Customer Enquiry
                      <button type="button" class="btn btn-primary float-right" id="exportBtn1" style="float: right;">Export Data</button>
                    
                    </h3>
                  </div>
                
                </div>
              </div>
              
              <div class="card bg-default shadow">
            
                <div class="table-responsive">
                  <table class="table align-items-center table-dark table-flush" id="tab1">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">S. No</th>
                        <th scope="col">Event Name</th>

                        <th scope="col">Vendor Name</th>

                        <th scope="col"> Name</th>
                        <th scope="col"> Email</th>

                       <th scope="col"> Number</th>
                       <th scope="col"> Designation</th>
                       <th scope="col"> Nationality</th>
                       <th scope="col"> City</th>



                       <th scope="col">Martial Status</th>
                       <th scope="col">Date</th>
                       <th scope="col">Time</th>
                       <th scope="col">Action</th>


                   
                      </tr>
                    </thead>
                    <tbody>
                          <tr>
                         <% for(i=0;i<result.length;i++){ %>

                          <th scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm"><%=i+1%> </span>
                              </div>
                            </div>
                          </th>

                          <th scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm"><%=result[i].eventname%> </span>
                              </div>
                            </div>
                          </th>

                          <th scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm"><%=result[i].partnername%> </span>
                              </div>
                            </div>
                          </th>

                            <th scope="row">
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <span class="mb-0 text-sm"><%=result[i].name%> </span>
                                </div>
                              </div>
                            </th>

                            <th scope="row">
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <span class="mb-0 text-sm"><%=result[i].email%> </span>
                                </div>
                              </div>
                            </th>

                           
                           <th scope="row">
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <span class="mb-0 text-sm"><%=result[i].number%></span>
                                </div>
                              </div>
                            </th>




                            <th scope="row">
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <span class="mb-0 text-sm"><%=result[i].designation%></span>
                                </div>
                              </div>
                            </th>




                            <th scope="row">
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <span class="mb-0 text-sm"><%=result[i].nationality%></span>
                                </div>
                              </div>
                            </th>



                            <th scope="row">
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <span class="mb-0 text-sm"><%=result[i].city%></span>
                                </div>
                              </div>
                            </th>
      


                            <th scope="row">
                                <div class="media align-items-center">
                                  <div class="media-body">
                                    <span class="mb-0 text-sm"><%=result[i].status%></span>
                                  </div>
                                </div>
                              </th>


                              <th scope="row">
                                <div class="media align-items-center">
                                  <div class="media-body">
                                    <span class="mb-0 text-sm"><%=result[i].date%></span>
                                  </div>
                                </div>
                              </th>


                              <th scope="row">
                                <div class="media align-items-center">
                                  <div class="media-body">
                                    <span class="mb-0 text-sm"><%=result[i].time%></span>
                                  </div>
                                </div>
                              </th>





                            

                              <th scope="row">
                                <div class="media align-items-center">
                                  <div class="media-body">
                                   <a href="/event/delete?id=<%=result[i].id%>"><button type="button" class="btn btn-danger">Delete</button></a>
                                  </div>
                                </div>
                              </th>
                           
        
               
                 
                          
                          </tr>
                         <%  } %>
                          
                    </tbody>
                      </table>
                    </div>
                  </div>
      </div>
    </div>
 </div>
</div>

<!--End InsertDiv-->



<!--UpdateImageDiv Start-->

      </div>
  
  
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            
          </div>
        
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/admin/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/admin/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Argon JS -->
  <script src="/admin/assets/js/argon.js?v=1.0.0"></script>
  
  <script type="text/javascript" src="/javascripts/matches.js"></script>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

<script>
$('.uploadImage').submit(function(e){
    e.preventDefault();
     $(this).ajaxSubmit({
      contentType: 'application/json',
      success: function(response){
     alert("Successfully")
    
      
      }
  });
    return false;
});















$('.wining').click(function(){
 let teamid = $(this).attr('id');
  let matchid = $(this).attr('matchid')
  let teamname = $(this).attr('teamname')
  var r = confirm(`Are you sure ${teamname} win this match?`);
  if (r == true) {
  $.post('/admin/bet-amount-send',{teamid,matchid},data=>{
    alert('Send Successfully')
  })
  } else {
    
  }
})


</script>



<script type="text/javascript">
  $(document).ready(function () {
      $("#exportBtn1").click(function(){
        TableToExcel.convert(document.getElementById("tab1"), {
            name: "EnquiryData.xlsx",
            sheet: {
            name: "Sheet1"
            }
          });
        });
  });
</script>


</body>

</html>