<%- include ('./header.ejs') %>

<a id='qodef-back-to-top' href='#'>
<span class="qodef-btt-text">TOP</span>
</a>
<div class="qodef-content" style="margin-top: -126px">
<div class="qodef-content-inner"> <div class="qodef-slider">
<div class="qodef-slider-inner">
<p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_2_1_wrapper" data-source="gallery" style="background:#3fd0d3;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
<rs-module id="rev_slider_2_1" style="" data-version="6.4.6">
<rs-slides>
<rs-slide data-key="rs-3" data-title="Slide" data-thumb="/design/wp-content/uploads/2018/09/h1-slider-img-1--100x50.jpg" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
<img src="/images/dubai2.jpg" title="Travel Agency" class="rev-slidebg tp-rs-img" data-parallax="off" data-panzoom="d:10000;ss:100;se:110;" data-no-retina>
<rs-layer id="slider-2-slide-3-layer-1" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;yo:-56px,-54px,-102px,-207px;" data-text="s:48,48,48,34;l:58,58,58,44;a:inherit;" data-dim="w:227px,auto,220px,auto;h:auto,auto,64px,auto;" data-padding="b:0,5,0,0;l:0,,5,5;" data-frame_0="y:50px;tp:600;" data-frame_1="tp:600;e:power2.inOut;sp:1000;sR:10;" data-frame_999="o:0;tp:600;st:w;sR:2990;" style="z-index:5;font-family:Satisfy;">Let's go now
</rs-layer><rs-layer id="slider-2-slide-3-layer-2" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;yo:19px,20px,-38px,-164px;" data-text="s:120,120,70,35;l:126,126,86,31;ls:-6px,-5px,-4px,-1px;fw:600;a:inherit;" data-frame_0="y:50px;tp:600;" data-frame_1="tp:600;e:power2.inOut;st:220;sp:1000;sR:220;" data-frame_999="o:0;tp:600;st:w;sR:2780;" style="z-index:6;font-family:Poppins;">Explore and travel.
</rs-layer><rs-layer id="slider-2-slide-3-layer-3" data-type="text" data-rsp_ch="on" data-xy="x:c;xo:0,0,0,584px;y:m;yo:132px,127px,57px,1px;" data-text="w:normal;s:20,20,18,15;l:26,26,26,21;a:center;" data-dim="w:757px,714px,651px,295px;h:53px,47px,auto,auto;" data-frame_0="o:1;tp:600;" data-frame_0_lines="d:5;y:50px;o:0;" data-frame_1="tp:600;e:power2.inOut;st:300;sp:1450;sR:300;" data-frame_1_lines="d:5;" data-frame_999="o:0;tp:600;st:w;sR:2250;" style="z-index:7;font-family:Poppins;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis Theme
</rs-layer> </rs-slide>
<rs-slide data-key="rs-4" data-title="Slide" data-thumb="/design/wp-content/uploads/2018/09/h1-slider-img-2--100x50.jpg" data-in="o:0;e:power0.in;" data-out="a:false;">
<img src="/images/dubai1.jpg" title="Travel Agency" class="rev-slidebg tp-rs-img" data-bg="p:right top;" data-parallax="off" data-panzoom="d:10000;ss:100;se:110;" data-no-retina>
<rs-layer id="slider-2-slide-4-layer-21" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;yo:-56px,-56px,-105px,-207px;" data-text="s:48,48,48,34;l:58,58,58,44;a:inherit;" data-dim="w:251px,auto,246px,174px;" data-frame_0="y:50px;tp:600;" data-frame_1="tp:600;e:power2.inOut;sp:1000;sR:10;" data-frame_999="o:0;tp:600;st:w;sR:2990;" style="z-index:5;font-family:Satisfy;">Come with us
</rs-layer><rs-layer id="slider-2-slide-4-layer-22" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m;yo:19px,21px,-39px,-164px;" data-text="s:120,120,70,35;l:126,126,86,31;ls:-6px,-5px,-4px,-1px;fw:600;a:inherit;" data-frame_0="y:50px;tp:600;" data-frame_1="tp:600;e:power2.inOut;st:220;sp:1000;sR:220;" data-frame_999="o:0;tp:600;st:w;sR:2780;" style="z-index:6;font-family:Poppins;">Relax and Enjoy.
</rs-layer><rs-layer id="slider-2-slide-4-layer-23" data-type="text" data-rsp_ch="on" data-xy="x:c;xo:0,0,0,480px;y:m;yo:131px,127px,55px,-10px;" data-text="w:normal;s:20,20,18,15;l:26,26,26,21;a:center;" data-dim="w:757px,714px,654px,295px;h:53px,47px,auto,auto;" data-frame_0="o:1;tp:600;" data-frame_0_lines="d:5;y:50px;o:0;" data-frame_1="tp:600;e:power2.inOut;st:300;sp:1450;sR:300;" data-frame_1_lines="d:5;" data-frame_999="o:0;tp:600;st:w;sR:2250;" style="z-index:7;font-family:Poppins;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis Theme
</rs-layer> </rs-slide>
</rs-slides>
</rs-module>
<script data-cfasync="false" src="https://cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript">
					setREVStartSize({c: 'rev_slider_2_1',rl:[1920,1700,1025,480],el:[],gw:[1300,1100,600,300],gh:[810,580,630,525],type:'standard',justify:'',layout:'fullwidth',mh:"0"});
					var	revapi2,
						tpj;
					function revinit_revslider21() {
					jQuery(function() {
						tpj = jQuery;
						revapi2 = tpj("#rev_slider_2_1");
						if(revapi2==undefined || revapi2.revolution == undefined){
							revslider_showDoubleJqueryError("rev_slider_2_1");
						}else{
							revapi2.revolution({
								sliderLayout:"fullwidth",
								duration:4000,
								visibilityLevels:"1920,1700,1025,480",
								gridwidth:"1300,1100,600,300",
								gridheight:"810,580,630,525",
								perspectiveType:"local",
								responsiveLevels:"1920,1700,1025,480",
								startWithSlide:1,
								progressBar:{disableProgressBar:true},
								navigation: {
									mouseScrollNavigation:false,
									onHoverStop:false,
									touch: {
										touchenabled:true
									},
									arrows: {
										enable:true,
										tmp:"<span class=\"qodef-nav-arrow\"></span>",
										style:"setsail-navigation",
										hide_onmobile:true,
										hide_under:1025,
										left: {
											h_offset:25,
											v_offset:63
										},
										right: {
											h_offset:25,
											v_offset:63
										}
									},
									bullets: {
										enable:true,
										tmp:"",
										style:"setsail-navigation",
										hide_over:1024,
										v_offset:50,
										space:12
									}
								},
								parallax: {
									levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
									type:"mouse"
								},
								viewPort: {
									enable:true,
									visible_area:"1%"
								},
								fallbacks: {
									allowHTML5AutoPlayOnAndroid:true
								},
							});
						}
						
					});
					} // End of RevInitScript
				var once_revslider21 = false;
				if (document.readyState === "loading") {document.addEventListener('readystatechange',function() { if((document.readyState === "interactive" || document.readyState === "complete") && !once_revslider21 ) { once_revslider21 = true; revinit_revslider21();}});} else {once_revslider21 = true; revinit_revslider21();}
				</script>
<script>
					var htmlDivCss = unescape(".setsail-navigation.tparrows%20%7B%0A%20%20%20%20background%3A%20transparent%3B%0A%20%20%20%20width%3A%2055px%3B%0A%20%20%20%20height%3A%2055px%3B%0A%7D%0A%0A.setsail-navigation.tparrows%3Abefore%20%7B%0A%09display%3A%20none%20%21important%3B%0A%7D%0A%0A.setsail-navigation.tparrows.tp-leftarrow%20.qodef-nav-arrow%2C%20%0A.setsail-navigation.tparrows.tp-rightarrow%20.qodef-nav-arrow%20%7B%0A%20%20%20%20position%3A%20relative%3B%0A%20%20%20%20height%3A%20100%25%3B%0A%20%20%20%20width%3A%20100%25%3B%0A%20%20%20%20display%3A%20inline-block%3B%0A%20%20%20%20vertical-align%3A%20middle%3B%0A%20%20%20%20color%3A%20%233fd0d4%3B%0A%20%20%20%20background-color%3A%20%23fff%3B%0A%20%20%20%20border-radius%3A%20100%25%3B%0A%20%20%20%20font-size%3A%2035px%3B%0A%20%20%20%20line-height%3A%2055px%3B%0A%20%20%20%20text-align%3A%20center%3B%0A%20%20%20%20-webkit-transition%3A%20color%20.3s%20ease%2C%20background-color%20.3s%20ease%3B%0A%20%20%20%20transition%3A%20color%20.3s%20ease%2C%20background-color%20.3s%20ease%3B%0A%20%20%20%20box-sizing%3A%20border-box%3B%0A%7D%0A%0A.setsail-navigation.tparrows.tp-leftarrow%20.qodef-nav-arrow%20%7B%0A%09padding-left%3A%204px%3B%0A%7D%0A%0A.setsail-navigation.tparrows.tp-rightarrow%20.qodef-nav-arrow%20%7B%0A%09padding-right%3A%203px%3B%0A%7D%0A%0A.setsail-navigation.tparrows.tp-leftarrow%3Ahover%20.qodef-nav-arrow%2C%20%0A.setsail-navigation.tparrows.tp-rightarrow%3Ahover%20.qodef-nav-arrow%20%7B%0A%09color%3A%20%23fff%3B%0A%09background-color%3A%20%233fd0d4%3B%0A%7D%0A%0A.setsail-navigation.tparrows.tp-leftarrow%20.qodef-nav-arrow%3Abefore%2C%20%0A.setsail-navigation.tparrows.tp-rightarrow%20.qodef-nav-arrow%3Abefore%20%7B%0A%20%20%09display%3A%20inline-block%3B%0A%20%20%20%09vertical-align%3A%20top%3B%0A%20%20%20%09font-family%3A%20%22linea-arrows-10%22%20%21important%3B%20%0A%20%20%09font-style%3A%20normal%20%21important%3B%0A%20%20%09font-weight%3A%20normal%20%21important%3B%0A%20%20%09font-variant%3A%20normal%20%21important%3B%0A%20%20%20%09text-transform%3A%20none%20%21important%3B%0A%20%20%20%09speak%3A%20none%3B%0A%20%20%20%09line-height%3A%20inherit%3B%0A%20%20%20%09-webkit-font-smoothing%3A%20antialiased%3B%0A%20%20%20%09-moz-osx-font-smoothing%3A%20grayscale%3B%0A%7D%0A.setsail-navigation.tparrows.tp-leftarrow%20.qodef-nav-arrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce03f%22%3B%0A%7D%0A.setsail-navigation.tparrows.tp-rightarrow%20.qodef-nav-arrow%3Abefore%20%7B%0A%20%20%20%09%20content%3A%20%22%5Ce04b%22%3B%0A%7D%0A%23rev_slider_2_1_wrapper%20.setsail-navigation%20.tp-bullet%20%7B%0A%20%20%20%09%09width%3A%2012px%3B%0A%20%20%20%20%20%20%20%20height%3A%2012px%3B%0A%20%20%20%20%20%20%20%20background%3A%20none%3B%0A%7D%0A%0A%23rev_slider_2_1_wrapper%20.setsail-navigation%20.tp-bullet%3Aafter%20%7B%0A%20%20%20%09%09%20content%3A%20%27%27%3B%0A%20%20%20%09%09%20position%3A%20absolute%3B%0A%20%20%20%09%09%20top%3A%2050%25%3B%0A%20%20%20%09%09%20left%3A%2050%25%3B%0A%20%20%20%09%09%20height%3A%20100%25%3B%0A%20%20%20%09%09%20width%3A%20100%25%3B%0A%20%20%20%20%09border-radius%3A%203em%3B%0A%09%09background-color%3A%20rgba%28rgba%2863%2C%20208%2C%20212%2C%200.5%29%29%3B%0A%09%09border%3A%200%3B%0A%20%20%20%20%09-webkit-transform%3A%20translate%28-50%25%2C%20-50%25%29%3B%0A%20%20%20%09%09-moz-transform%3A%20translate%28-50%25%2C%20-50%25%29%3B%0A%20%20%20%20%09transform%3A%20translate%28-50%25%2C%20-50%25%29%3B%0A%20%20%20%20%09box-sizing%3A%20border-box%3B%0A%7D%0A%0A%23rev_slider_2_1_wrapper%20.setsail-navigation%20.tp-bullet%3Ahover%3Aafter%2C%0A%23rev_slider_2_1_wrapper%20.setsail-navigation%20.tp-bullet.selected%3Aafter%20%7B%0A%20%20%20%09%09%20background-color%3A%20rgb%28%233fd0d4%29%3B%0A%7D%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
<script>
					var htmlDivCss = unescape("%0A%0A%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
</rs-module-wrap>

</div>
</div>
<div class="qodef-full-width">
<div class="qodef-full-width-inner">
<div class="qodef-grid-row">
<div class="qodef-page-content-holder qodef-grid-col-12">
<div class="qodef-row-grid-section-wrapper "><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid qodef-custom-class-fp vc_custom_1540992002315"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-tours-filter-holder qodef-tours-filter-horizontal">
<div class="qodef-tours-search-filters-holder">

</div>
</div></div></div></div></div></div></div>



<!-- perfect holiday -->

<div class="qodef-row-grid-section-wrapper qodef-content-aligment-center" style="background-color:#f8f8f8"><div class="qodef-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1539244737739"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-3 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-section-title-holder ">
<div class="qodef-st-inner">
<span class="qodef-st-tagline" style="margin-bottom: -6px">
Plan The </span>
<h1 class="qodef-st-title">
Perfect Holiday </h1>

</div>
</div><div class="vc_empty_space" style="height: 42px"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1539243964139" style="background-color:#f8f8f8"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="qodef-tours-carousel-holder qodef-carousel-pagination">
<div class="qodef-tours-row qodef-tr-20-space">
<div class="qodef-tours-carousel qodef-tours-row-inner-holder qodef-owl-slider" data-number-of-items="5" data-slider-margin="20" data-enable-loop="yes" data-enable-navigation="no" data-enable-pagination="yes">


<!-- start here -->

<% for(i=0;i<result.length;i++){ %>

    <div class="qodef-tours-standard-item qodef-tours-row-item qodef-item-space post-3160 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-europe tour-attribute-5-star-accommodation tour-attribute-airport-transfer-2 tour-attribute-breakfast tour-attribute-personal-guide">
<div class="qodef-tour-standard-item-holder">
<div class="qodef-tour-standard-item-holder-inner">
<div class="qodef-tours-standard-item-image-holder">
<a href="/single/tour/details?id=<%=result[i].id%>">
<img style="width:287px;height: 170px;object-fit: cover;" src="/images/<%=result[i].logo%>" class="attachment-full size-full" alt="c" 
loading="lazy" srcset="/images/<%=result[i].logo%> 1100w, /images/<%=result[i].logo%> 300w, /images/<%=result[i].logo%> 768w, /images/<%=result[i].logo%> 1024w, /images/<%=result[i].logo%> 600w" sizes="(max-width: 1100px) 100vw, 1100px" /> </a>
</div>
<div class="qodef-tours-standard-item-content-holder">
<div class="qodef-tours-standard-item-top-content">
<div class="qodef-tours-standard-item-top-item">
<div class="qodef-tour-duration-holder">
<span class="qodef-tour-duration-icon qodef-tour-info-icon">
<span class="icon_calendar"></span>
</span>
<span class="qodef-tour-info-label">
    <%=result[i].days%></span>
</div>
</div>
<div class="qodef-tours-standard-item-top-item">
<div class="qodef-tour-min-age-holder">
<span class="qodef-tour-min-age-icon qodef-tour-info-icon">
<span class="icon_profile"></span>
</span>
<span class="qodef-tour-info-label">
    <%=result[i].person%>
</span>
</div>
</div>
<div class="qodef-tours-list-item-top-item">
<div class="qodef-tours-tour-categories-holder">
<div class="qodef-tours-tour-categories-item">
<a href="/single/tour/details?id=<%=result[i].id%>">
<span class="qodef-tour-cat-item-icon">
<span aria-hidden="true" class="qodef-icon-font-elegant icon_pin_alt "></span> </span>
<span class="qodef-tour-cat-item-text">
    <%=result[i].countryname%> </span>
</a>
</div>
</div>
</div>
</div>
<div class="qodef-tours-standard-item-content-inner">
<div class="qodef-tours-standard-item-title-holder">
<h4 class="qodef-tour-title">
<a href="tour-item/corfu/index.html"><%=result[i].name%></a>
</h4>
</div>

<div class="qodef-tours-standard-item-price-and-rating-holder">
<span class="qodef-tours-item-price-holder">
<span class="qodef-tours-price-holder">
<span class="qodef-tours-item-price "><%=result[i].price%></span>
</span>
</span>
</div>
</div>
</div>
</div>
</div>
</div> 


<% } %>

 



<!-- end here -->

</div>
</div>
</div></div></div></div></div>



</div>
</div>
</div>
</div>
</div> 
</div> 

<%- include ('./footer.ejs') %>





