<%- include ('./header.ejs') %>
<link rel="stylesheet" href="/style.css">

<style>
    label{
        color: black;
        margin-top: 20px;
    }
</style>






<section style="padding-top: 10rem;background-color: white;" >
  <div class="bg-holder" style="background-color: #4F46E5;">
  </div>
  <!--/.bg-holder-->

  <div class="container" style="background-image : url('/img/Visa/Visa/Coacing/Element.png'); background-size:contain; background-repeat: no-repeat;">

    <div class="row align-items-center">
      <div class="col-md-4 col-lg-5 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 hero-img myimage" src="/images/<%=result[3][0].logo%>" alt="hero-header" style="border-radius: 16px;"/></div>
      <div class="col-md-8 col-lg-7 text-md-start text-center py-6">
        <h1 class="hero-titl" style="font-family: Manrope;
        font-size: 64px;
        font-weight: 600;
        line-height: 80px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        "><%=result[3][0].name%></h1>
        <p class="mb-4" style="font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #FFFFFF;
        "><%=result[3][0].description1%> </p>
        <div class="text-center text-md-start">
          
          <div class="modal fade" id="popupVideo" tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <iframe class="rounded" style="width:100%;max-height:500px;" height="500px" src="https://www.youtube.com/embed/_lhdhL4UDIo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




      <section class="pt-0 pt-md-9" id="service" style="background-color: white;">
        <div class="bg-holder" style="background-image:url();">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center">
            
            <div class="col-md-5 col-lg-6 text-end"><img class="pt-7 pt-md-0 hero-img myimage" src="/images/<%=result[3][0].image%>" alt="hero-header" style="border-radius:16px" /></div>
            <div class="col-md-7 col-lg-6 text-md-start text-center py-6">
                <h1 class="hero-titl" style="font-family: Poppins;
                font-size: 32px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: 0.01em;
                text-align: left;
                
                "><%=result[3][0].name%> Overview</h1>
                <p class="mb-4 fw-medium" style="font-family: Poppins;
                font-size: 18px;
                font-weight: 400;
                line-height: 38px;
                letter-spacing: 0.01em;
                text-align: left;
                
                "><%=result[3][0].description2%> </p>
                <div class="text-center text-md-start">
                
                  <div class="modal fade" id="popupVideo" tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <iframe class="rounded" style="width:100%;max-height:500px;" height="500px" src="https://www.youtube.com/embed/_lhdhL4UDIo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="" id="service" style="background-color: white;">

        <div class="container">
          <!-- <div class="position-absolute z-index--1 end-0 d-none d-lg-block"><img src="/public/assets/img/category/shape.svg" style="max-width: 200px" alt="service" /></div> -->
          <div class="row">
            <div class="col-lg-3 col-sm-6 mb-6">
              <div class="card overflow-hidden shadow"> <img class="card-img-top" src="/public/images/visa-image/images/Coaching details/Rectangle 4337.jpg" alt="Rome, Italty" />
                <div class="card-body py-4 px-3">
                  <div class="justify-content-between mb-3">
                    <h4 class="text-decoration-none text-secondary fw-medium text-center"
                    "><a class="link-900 text-decoration-none stretched-link text-center" href="#!" style="font-family: Poppins;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 16px;
                    letter-spacing: 0em;
                
                    ">Great advice</a></h4>
                  </div>
                  <div class="d-flex align-items-center"> 
                    <span class="fs-0 fw-medium" style="font-family: Poppins;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    ">Lorem ipsum dolor amet, consectetur adipiscing elit. </span></div>
                </div>
              </div>
            </div>



            <div class="col-lg-3 col-sm-6 mb-6">
                <div class="card overflow-hidden shadow"> <img class="card-img-top" src="/public/images/visa-image/images/Coaching details/Rectangle 4337-1.jpg" alt="Rome, Italty" />
                  <div class="card-body py-4 px-3">
                    <div class="justify-content-between mb-3">
                      <h4 class="text-decoration-none text-secondary fw-medium text-center"
                      "><a class="link-900 text-decoration-none stretched-link text-center" href="#!" style="font-family: Poppins;
                      font-size: 16px;
                      font-weight: 600;
                      line-height: 16px;
                      letter-spacing: 0em;
                  
                      ">Best Support</a></h4>
                    </div>
                    <div class="d-flex align-items-center"> 
                      <span class="fs-0 fw-medium" style="font-family: Poppins;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 20px;
                      letter-spacing: 0em;
                      text-align: center;
                      ">Lorem ipsum dolor amet, consectetur adipiscing elit. </span></div>
                  </div>
                </div>
              </div>





              <div class="col-lg-3 col-sm-6 mb-6">
                <div class="card overflow-hidden shadow"> <img class="card-img-top" src="/public/images/visa-image/images/Coaching details/Rectangle 4337-2.jpg" alt="Rome, Italty" />
                  <div class="card-body py-4 px-3">
                    <div class="justify-content-between mb-3">
                      <h4 class="text-decoration-none text-secondary fw-medium text-center"
                      "><a class="link-900 text-decoration-none stretched-link text-center" href="#!" style="font-family: Poppins;
                      font-size: 16px;
                      font-weight: 600;
                      line-height: 16px;
                      letter-spacing: 0em;
                  
                      ">Expert opinion</a></h4>
                    </div>
                    <div class="d-flex align-items-center"> 
                      <span class="fs-0 fw-medium" style="font-family: Poppins;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 20px;
                      letter-spacing: 0em;
                      text-align: center;
                      ">Lorem ipsum dolor amet, consectetur adipiscing elit. </span></div>
                  </div>
                </div>
              </div>





              


              <div class="col-lg-3 col-sm-6 mb-6">
                <div class="card overflow-hidden shadow"> <img class="card-img-top" src="/public/images/visa-image/images/Coaching details/Rectangle 4337-3.jpg" alt="Rome, Italty" />
                  <div class="card-body py-4 px-3">
                    <div class="justify-content-between mb-3">
                      <h4 class="text-decoration-none text-secondary fw-medium text-center"
                      "><a class="link-900 text-decoration-none stretched-link text-center" href="#!" style="font-family: Poppins;
                      font-size: 16px;
                      font-weight: 600;
                      line-height: 16px;
                      letter-spacing: 0em;
                  
                      ">Govt. Approved</a></h4>
                    </div>
                    <div class="d-flex align-items-center"> 
                      <span class="fs-0 fw-medium" style="font-family: Poppins;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 20px;
                      letter-spacing: 0em;
                      text-align: center;
                      ">Lorem ipsum dolor amet, consectetur adipiscing elit. </span></div>
                  </div>
                </div>
              </div>
          
            

            
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="" id="destination" style="background-color: white;margin-top: -80px;">

        <div class="container">
          <!-- <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img src="/public/assets/img/dest/shape.svg" alt="destination" /></div> -->
          <div class="mb-7 text-center">
            <h3 class="fs-xl-10 fs-lg-8 fs-7 text-capitalize" style="font-family: Poppins;
            font-size: 32px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: 0.01em;
            text-align: center;
            ">Why are we best?</h3>
            <p style="font-family: Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: left;
            margin-top:40px
            
            "> <%=result[3][0].description3%></p>
          </div>
      
        </div><!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section class="" id="service" style="background-color: white;margin-top: -120px;">
        <div class="bg-holder" style="background-image:url();">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center">
            
            <div class="col-md-4 col-lg-5 text-end"><img class="pt-7 pt-md-0 hero-img myimage" src="/img/Visa/Visa/Coacing Details/4th Section Img - Copy.png" alt="hero-header" /></div>
        <div class="col-md-1 col-lg-1"></div>
            <div class="col-md-7 col-lg-6 text-md-start text-center py-6"><img class="pt-7 pt-md-0 hero-img" src="/img/Visa/Visa/Coacing Details/4th Section Img.png" alt="hero-header"  style="width: 110px;float:right;margin-top: -50px;" />
                <h1 class="hero-titl" style="font-family: Poppins;
                font-size: 32px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: 0.01em;
                text-align: left;
                
                ">We offer you the best advice with our experts</h1>
                <p class="mb-4 fw-medium" style="font-family: Poppins;
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0em;
                text-align: left;
                color: #000000;
                margin-top: 20px;

                
                
                
                "><img src='/img/Visa/Visa/Coacing Details/1.png'> We choose the best instructors for you </p>

<p class="mb-4 fw-medium" style="font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: #000000;

"><img src='/img/Visa/Visa/Coacing Details/2.png'> 24/7 support available </p>

<p class="mb-4 fw-medium" style="font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: #000000;


"><img src='/img/Visa/Visa/Coacing Details/3.png'> All reading meterials are provided </p>
                <div class="text-center text-md-start">
                
                  <div class="modal fade" id="popupVideo" tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <iframe class="rounded" style="width:100%;max-height:500px;" height="500px" src="https://www.youtube.com/embed/_lhdhL4UDIo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>



      <section class="pt-5" id="destination" style="background-color: white;margin-top: -50px;">

        <div class="container">
          <div class="mb-7 text-center">
          <div class="position-absolute start-0 bottom-0  translate-middle-x d-none d-xl-block ms-xl-n4" style="margin-top: 250px;z-index: 1"  ><img src="/img/Visa/Visa/Coacing Details/Rectangle 4.png" alt="destination" style="height: 100px;" /></div>
           
            <p style="font-family: Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: left;
            margin-top:40px;
            z-index: 1;
            
            "><%=result[3][0].description4%> </p>
          </div>
      
        </div><!-- end of .container-->

      </section>


 <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="pt-5 pt-md-9" id="service" style="background-color: white;margin-top:-120px ;">

          <div class="container">
            <div class="position-absolute z-index--1 end-0 d-none d-lg-block"><img src="/public/assets/img/category/shape.svg" style="max-width: 200px" alt="service" /></div>
            <div class="row">
              <div class="col-lg-12 col-sm-6 mb-6">
                <div class="card overflow-hidden shadow"> <img class="card-img-top" src="/public/images/visa-image/images/Coaching details/unsplash_CV3nkG7XIwg.jpg" alt="Rome, Italty" />
          
                </div>
              </div>
  
  
  
          
  
  
                
  
  
  
                    <div class="col-lg-12 col-sm-6 mb-6">
                
                      <div class="card-body py-4 px-3">
                        <div class="justify-content-between mb-3">
                          <h4 class="text-decoration-none text-secondary fw-medium text-center"
                          "><a class="stretched-link text-center" href="#!" style="font-family: Poppins;
                          font-size: 32px;
                          font-weight: 600;
                          line-height: 57px;
                          letter-spacing: 0.01em;
                          text-align: center;
                          
                          
                      
                          "><%=result[3][0].name%> Training</a></h4>
                        </div>
                        <div class="d-flex align-items-center"> 
                          <span class="fs-0 fw-medium" style="font-family: Poppins;
                          font-size: 24px;
                          font-weight: 400;
                          line-height: 43px;
                          letter-spacing: 0.01em;
                          text-align: center;
                          
                          
                          "><%=result[3][0].description4%></span></div>
                      </div>
                    </div>
                


                    
  
  
  
  
  
  
  
  
  
  
  
  
  
                    <div class="card col-lg-3" style="background-color: #e2e0ff;margin-right: 0px;margin-top: 40px;height: 225px;background: #D4D1FF;
                    border: 3px solid #FFFFFF;
                    box-shadow: 0px 15px 30px rgba(104, 97, 218, 0.5);
                    border-radius: 8px;
                " > 
    
                      <!-- <i class="fa fa-diamond" aria-hidden="true" style="margin-top: -20px;font-size: 46px;"></i> -->
    <img src="/img/Visa/Visa/Coacing Details/6th Icons.png" style="margin-top: -20px;width: 56px;border-radius: 8px;">
  
                    <div class="" style="margin-top: 35px;margin-left: 15px;">
                       <span style="font-family: Poppins;
                       font-size: 24px;
                       font-weight: 600;
                       line-height: 32px;
                       letter-spacing: 0em;
                       text-align: left;
                       color: #000000;
                       
                       "> Coaching Time</span>
                      </div>
                    <p style="font-family: Poppins;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 15px;
                    margin-left: 15px;
                    "> Lorem ipsum dolor amet, consectetur adipiscing.</p>
                  </div>
  
              <div class="col-lg-1"></div>
  
              
              <div class="card col-lg-3" style="background-color: #e2e0ff;margin-right: 0px;margin-top: 40px;height: 225px;background: #D4D1FF;
              border: 3px solid #FFFFFF;
              border-radius: 8px;
          " > 
  
                <!-- <i class="fa fa-diamond" aria-hidden="true" style="margin-top: -20px;font-size: 46px;"></i> -->
    <img src="/img/Visa/Visa/Coacing Details/6th  icon 2.png" style="margin-top: -20px;width: 56px;">
  
              <div class="" style="margin-top: 35px;margin-left: 15px;">
                 <span style="font-family: Poppins;
                 font-size: 24px;
                 font-weight: 600;
                 line-height: 32px;
                 letter-spacing: 0em;
                 text-align: left;
                 color: #000000;
                 
                 "> Assessment</span>
                </div>
              <p style="font-family: Poppins;
              font-size: 18px;
              font-weight: 400;
              line-height: 32px;
              letter-spacing: 0em;
              text-align: left;
              margin-top: 15px;
              margin-left: 15px;
              
              "> Lorem ipsum dolor amet, consectetur adipiscing.</p>
            </div>
              <div class="col-lg-1"></div>
  
              
              <div class="card col-lg-3" style="background-color: #e2e0ff;margin-right: 0px;margin-top: 40px;height: 225px;background: #D4D1FF;
              border: 3px solid #FFFFFF;
              border-radius: 8px;
          " > 
  
                <!-- <i class="fa fa-diamond" aria-hidden="true" style="margin-top: -20px;font-size: 46px;"></i> -->
    <img src="/img/Visa/Visa/Coacing Details/6th  icon 3.png" style="margin-top: -20px;width: 56px;">
              
                <div class="" style="margin-top: 35px;margin-left: 15px;">
                 <span style="font-family: Poppins;
                 font-size: 24px;
                 font-weight: 600;
                 line-height: 32px;
                 letter-spacing: 0em;
                 text-align: left;
                 color: #000000;
                 
                 "> Certificate</span>
                </div>
              <p style="font-family: Poppins;
              font-size: 18px;
              font-weight: 400;
              line-height: 32px;
              letter-spacing: 0em;
              text-align: left;
              margin-top: 15px;
              margin-left: 15px;
              
              "> Lorem ipsum dolor amet, consectetur adipiscing.</p>
            </div>
  
              <div class="col-lg-1"></div>
  
  
              <div class="card col-lg-3" style="background-color: #e2e0ff;margin-right: 0px;margin-top: 40px;height: 225px;background: #D4D1FF;
              border: 3px solid #FFFFFF;
              box-shadow: 0px 15px 30px rgba(104, 97, 218, 0.5);
              border-radius: 8px;
          " > 

                <!-- <i class="fa fa-diamond" aria-hidden="true" style="margin-top: -20px;font-size: 46px;"></i> -->
<img src="/img/Visa/Visa/Coacing Details/6th Icons.png" style="margin-top: -20px;width: 56px;border-radius: 8px;">

              <div class="" style="margin-top: 35px;margin-left: 15px;">
                 <span style="font-family: Poppins;
                 font-size: 24px;
                 font-weight: 600;
                 line-height: 32px;
                 letter-spacing: 0em;
                 text-align: left;
                 color: #000000;
                 
                 "> Coaching Time</span>
                </div>
              <p style="font-family: Poppins;
              font-size: 18px;
              font-weight: 400;
              line-height: 32px;
              letter-spacing: 0em;
              text-align: left;
              margin-top: 15px;
              margin-left: 15px;
              "> Lorem ipsum dolor amet, consectetur adipiscing.</p>
            </div>

        <div class="col-lg-1"></div>

        
        <div class="card col-lg-3" style="background-color: #e2e0ff;margin-right: 0px;margin-top: 40px;height: 225px;background: #D4D1FF;
        border: 3px solid #FFFFFF;
        border-radius: 8px;
    " > 

          <!-- <i class="fa fa-diamond" aria-hidden="true" style="margin-top: -20px;font-size: 46px;"></i> -->
<img src="/img/Visa/Visa/Coacing Details/6th  icon 2.png" style="margin-top: -20px;width: 56px;">

        <div class="" style="margin-top: 35px;margin-left: 15px;">
           <span style="font-family: Poppins;
           font-size: 24px;
           font-weight: 600;
           line-height: 32px;
           letter-spacing: 0em;
           text-align: left;
           color: #000000;
           
           "> Assessment</span>
          </div>
        <p style="font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
        
        "> Lorem ipsum dolor amet, consectetur adipiscing.</p>
      </div>
        <div class="col-lg-1"></div>

        
        <div class="card col-lg-3" style="background-color: #e2e0ff;margin-right: 0px;margin-top: 40px;height: 225px;background: #D4D1FF;
        border: 3px solid #FFFFFF;
        border-radius: 8px;
    " > 

          <!-- <i class="fa fa-diamond" aria-hidden="true" style="margin-top: -20px;font-size: 46px;"></i> -->
<img src="/img/Visa/Visa/Coacing Details/6th  icon 3.png" style="margin-top: -20px;width: 56px;">
        
          <div class="" style="margin-top: 35px;margin-left: 15px;">
           <span style="font-family: Poppins;
           font-size: 24px;
           font-weight: 600;
           line-height: 32px;
           letter-spacing: 0em;
           text-align: left;
           color: #000000;
           
           "> Certificate</span>
          </div>
        <p style="font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
        
        "> Lorem ipsum dolor amet, consectetur adipiscing.</p>
      </div>

        <div class="col-lg-1"></div>
      
              
  
              
            </div>
          </div><!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  
  


    


 <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section style="background-color: white;margin-top: -40px;">
          <div class=" translate-middle-x d-none d-xl-block ms-xl-n4" style="position: absolute;bottom:0px;right:0px;"><img src="/img/Visa/Visa/Coacing Details/4th Section Img.png" alt="destination" style="height: 150px;" /></div>

            <div class="container">

                <div class="row">
                  
                    <div class="col-lg-12 for fo ">
                      <p style="text-align: center;"><span style="font-family: Poppins;
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 48px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #14183E;
                        "><b>Send us a message</b> </span></p>
                       <p style="text-align: center;" style="font-family: Poppins;
                       font-size: 16px;
                       font-weight: 500;
                       line-height: 24px;
                       letter-spacing: 0em;
                       text-align: left;
                       ">Just drop a message .We will contact you</p>
                      <p> </p>
                        <form>
                            <div class="row">
                                <div class="col-6" >
                                    <label for="name" style="font-family: Poppins;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 24px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    ">Your Name *</label>
                                    <input type="text" class="form-control box for1" id="name" placeholder="Enter name" name="name">
                                  </div>
                                  <div class="form- col-6">
            
                                    <label for="email" style="font-family: Poppins;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 24px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    ">Your Email *</label>
                                    <input type="email" class="form-control  box for1" id="email" placeholder="Enter email" name="email">
                                  </div>
                            </div>

                            <div class="row">
                              <div class="col-6" >
                                  <label for="name" style="font-family: Poppins;
                                  font-size: 16px;
                                  font-weight: 500;
                                  line-height: 24px;
                                  letter-spacing: 0em;
                                  text-align: left;
                                  ">Country Interested IN *</label>
                                  <select id="countryid" name="countryid" class="form-control" required style="    padding: 20px;
                                  box-shadow: 7px 4px 32px #cba6f0cf;
                                  background-color: #EAE1FB;
                                  border-radius: 5px;"></select>
                                </div>
                                <div class="form- col-6">
          
                                  <label for="email" style="font-family: Poppins;
                                  font-size: 16px;
                                  font-weight: 500;
                                  line-height: 24px;
                                  letter-spacing: 0em;
                                  text-align: left;
                                  ">Visa Type Interested *</label>
                                   <select id="visaid" name="visaid" class="form-control" required style="    padding: 20px;
                                   box-shadow: 7px 4px 32px #cba6f0cf;
                                   background-color: #EAE1FB;
                                   border-radius: 5px;"></select>

                                </div>
                          </div>
                            
                           
                              
                          <div class="form-group">
                            <label for="email" style="font-family: Poppins;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            ">Your Phone number</label>
                            <input type="number" class="form-control box for1" id="number" placeholder="Enter phone number" name="phone no">
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1" style="font-family: Poppins;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            ">Your Message</label>
                            <textarea class="form-control exampleFormControlTextarea1" id="message" rows="3"></textarea>
                          </div>
                    <!-- Submit button -->
                    <div class="mt-4 mb-3" style="text-align: center;">
                        <a class="btn btn-primary btn-lg me-md-4 mb-3 mb-md-0 border-0 primary-btn-shadow submitbutton" style="border-radius: 50px;"  role="button">Continue</a>
                      
                        <!-- <a href="#" class="btn btn-primary stretched-link  button4">See All Countries</a> -->
                      </div>
                        </form>
                    </div>
            
            
                </div>
            </div>
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->



  
  


      

        <%- include ('./footer.ejs') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
        <script>
          $('.submitbutton').click(function(){

            var email = $('#email').val()
              let number = $('#number').val();
              let name = $('#name').val();
              let message = $('#message').val();
              let countryid = $('#countryid').val();
      let visaid = $('#visaid').val()
              

            var txt = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

            if($('#name').val()==null || $('#name').val() =='' || $('#name').val() == []) alert('Enter Name');
            else if($('#email').val()==null || $('#email').val() =='' || $('#email').val() == []) alert('Enter Email');
            else if(!txt.test(email)) alert('Invalid Email')
            
            else {
            
              $.post('/contact/insert',{name,email,number,message,countryid,visaid},data=>{
                alert('Our Team Will Contact You Soon.')
              })
            }
            
          })
        </script>